body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.searchStyle{
  margin-top:30px;
}  
.button{
  background-color: #E8B40C;
}
.graphContainer{
  height:150px;
  background-color: #222;
  margin-top: 30px;
  position:relative;
}

.round{
  width:8px;
  height:8px;
  border-radius: 4px;
  background-color:#E8B40C;
  position:absolute; 
  bottom:0px;
  
}

.label{
  position:absolute;
  top: -20px;
  text-align:left;
}

.descriptionTabStyle{
  background: #E8B40C;
  color: white;
  padding: 1px;
  margin: 12px;
}


