body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.searchStyle{
  margin-top:30px;
}  
.button{
  background-color: #FCB000;
}
.graphContainerPositive{
  height:80px;
  background-color: #222;
  margin-top: 30px;
  position:relative;
}

.graphContainerNegitive{
  height:80px;
  background-color:#4d4d4d;
  position:relative;
  z-index: -1;
}

.round{
  width:8px;
  height:8px;
  border-radius: 4px;
  background-color:#FCB000;
  position:absolute; 
  bottom:0px;
  
}

.label{
  position:absolute;
  top: -20px;
  text-align:left;
}

.descriptionTabStyle{
  background: #FCB000;
  color: white;
  padding: 1px;
  margin: 12px;
  position: relative;
}

.sun{
  right: 0px;
  position: absolute;
}

.closeButton{
  right: 5px;
  position: absolute;
  height: 30px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.closeButton:focus{
  outline: none;
}
.description{
  display: inline-block;
}
.descriptionIcon{
  float: right;
  right:10px;
  margin-right: 40px;
}

